@import url('https://fonts.googleapis.com/css2?family=Saira:wght@700&display=swap');

*, *::after, *::before {
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:'Saira';
}

:root {
    --main-text-color:#000000;
    --inverted-main-text-color:#000000;

}
body {
    background: linear-gradient(170deg, #FF004D 66.24%, rgba(126, 37, 83, 0.89) 120.75%);
    min-height:100vh;
}

button {

    padding:10px;
    width:200px;
    font-size:20px;
    margin-top:15px;
    color:white;
    background:black;
    border:none;
    cursor:pointer;
}

.community-list {
    display:flex;
    margin-top:35px;
    gap:20px;
    align-items: center;
    flex-wrap: wrap;
}

.grid-area {
    display:grid;
    margin:10px;
    gap:10px;
}


.grid-item {
    border:1.5px solid rgba(0, 0, 0, 0.863);
    padding:10px;
}

.grid-item h2 {
    font-size: clamp(2.55rem, -0.625rem + 10vw, 5rem);
}

.grid-item p {
    font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
}

@media(max-width:550px){
    .community-list {
        justify-content: space-around;
    }

}

@media(max-width:839px){
    .box-1 h2 {
        line-height:50px;
        margin-bottom:5px;
    }
    .box-2 h2 {
        line-height:50px;
        margin-bottom:10px;
    }

    .box-3 h2 {
        line-height:50px;
        margin-bottom:10px;
    }

    .box-5 h2 {
        line-height:50px;
        margin-bottom:10px;
    }
}

@media(min-width:840px){

    .content-box h2 {
        font-size: clamp(2.75rem, 0.8967rem + 5.4348vw, 5rem);
    }
    .grid-area {
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows:repeat(6, auto) 
    }

    .grid-item p {
        font-size:16px;
    }

    .box-1 {
        grid-area: 1 / 1 / 5 / 2
    }

    .box-1 p {
        inline-size:430px;
    }

    .box-1 h2 {
        line-height:100px;
    }

    .box-2 {
        grid-area: 1 / 2 / 5 / 3
    }

    .box-2 h2 {
        line-height:80px;
    }

    .box-3 {
        grid-area: 5 / 1 / 6 / 2
    }

    .box-3 h2 {
        line-height:80px;
    }
    
    .box-4 {
        grid-area: 5 / 2 / 6 / 2
    }

    .box-5 {
        grid-area: 6 / 1 / 7 / 3
    }

    .box-5 h2 {
        line-height:80px;
    }

    .box-6 {
        grid-area: 7 / 1 / 8 / 3
    }

    .box-6 h2 {
        line-height:80px;
    }
    
}


@media(min-width:1300px){
    .grid-area {
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows:repeat(7, minmax(100px, auto));
    }

    .box-1 {
        grid-area: 1 / 1 / 6 / 2
    }

    .box-1 h2 {
        font-size: 120px;
        margin-bottom:20px;
        margin-top:20px;
    }

    .box-1 p {
        inline-size:430px;
    }
    
    .box-2 {
        grid-area: 1 / 2 / 3 / 4
        
    }

    .box-2 h2 {
        line-height:80px;
        margin-bottom:10px;
    }
    
    .box-3 {
        grid-area: 3 / 2 / 6 / 3;
    }

    .box-3 h2 {
        line-height:80px;
        margin-bottom:10px;
    }

    .box-4 {
        grid-area: 3 / 3 / 6 / 4
    }

    .box-4 h2 {
        line-height:70px;
        margin-bottom:10px;
    }
    
    .box-5 {
        grid-area: 6 / 1 / 8 / 3
    }

    .box-5 h2 {
        line-height:80px;
        margin-bottom:5px;
    }
    
    .box-6 {
        grid-area: 6 / 3 / 8  / 4
    }

    br {
        display:none;
    }

 
}

@media(min-width:1770px){
    .box-1 p {
        inline-size:400px;
    }

    button {
        position:relative;
        top:15px;
    }
}











